/* Big field selections */
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    src: url("../fonts/static/Raleway-ExtraBold.ttf") format("truetype");
}

header {
    height: 120px;
    margin-left: 50px;
}

/* Header style */
#back_button {
    width: 60px;
    height: 60px;
    background: none;
    border: none;
}

.back_button_image {
    width: 100%;
}

.back_button_image:hover {
    transform: scale(1.05);
}

/* Basic commands */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.relative_center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.vertical_center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontally_center {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block {
    display: block;
    width: 100%;
}

.white {
    background-color: white;
}

::-webkit-scrollbar {
    display: none;
}